h1 {
    color:blue;
    text-align: center;
}
p{
    font-size:20px;
}
.back{
    padding:9px;
    border-radius:9px;
    background-color: blue;
    text-align: center;
    margin-left:40%;
    margin-right: 40%;
}
a{
    text-decoration: none;
    color:white;
    text-align:center;
    
}
img{
    margin-left: 43.9%;
}
p{
    text-align: center;
}
h2{
    margin-left:46%;
}